@use "../styles/variables" as vars;
@use "../styles/mixins" as mix;

.sectionSandbox {
  background-color: vars.$color-white-true;
  color: vars.$color-black;
  padding-top: 4rem;
  padding-bottom: vars.$left-margin;
  min-height: 60vh;
  @include mix.section-block;
}

.intro {
  margin-left: vars.$left-margin;
  margin-right: vars.$left-margin;
  max-width: 40rem;
}

.notice {
  margin-top: 1rem;
}

.applePayButton {
  --apple-pay-button-width: 140px;
  --apple-pay-button-height: 30px;
  --apple-pay-button-border-radius: 5px;
  --apple-pay-button-padding: 5px 0px;
}